@import "src/styles/variables";

.date-picker-field {
    margin-top: 32px;

    label {
        color: $label-color;
        display: inline-block;
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 13px;
    }
    .ant-picker {
        display: block;
    }

    &.error {
        .ant-picker {
            border: 1px solid $input-border-error-color !important;
        }
    }
}
